# linguist-vendored 官方标准指令 第三方依赖或生成的文档
docs/** linguist-vendored
site/** linguist-vendored
build/** linguist-vendored
dist/** linguist-vendored

# *.html                        linguist-vendors
*.html                          linguist-detectable=false
docs/*.html                     linguist-documentation
*.pyx                           linguist-language=Cython
*.pxd                           linguist-language=Cython
